<div class="auth-card">
	<div class="auth-card__inner custom-scroll">
		<div class="auth-card__margin"></div>
		<div class="auth-card__top">

			{% include "../ui/button.twig" with {
        props: {
          href: "#",
          class: "me-4",
          children: "Регистрация",
          type: "clear",
        }
        } %}
			{% include "../ui/button.twig" with {
        props: {
          href: "#",
          class: "",
          children: "Вход",
          type: "primary",
          state: "disabled",
        }
      } %}
		</div>
		<div class="auth-card__header text-center">
			<h1 class="auth-card__title mb-3">Успешно отправлено</h1>
			<p class="auth-card__description mb-0">Ссылка на восстановление отправлена на указннаую почту</p>
		</div>

		<div class="auth-card__btns d-flex flex-column">
			{% include "../ui/button.twig" with {
        props: {
          href: "#",
          class: "auth-card__btn",
          children: "Отлично",
          type: "primary",
        }
      } %}
		</div>

		<div class="auth-social d-flex flex-column justify-content-end">
			<div class="auth-social__inner">
				<p class="auth-social__title text-center">Или войдите с помощью</p>
				<ul class="auth-social__list d-flex gap-3">
					{% for item in ["yandex", "google", "vk", "mail", "sber"] %}
						<li class="auth-social__item">
							<a href="#{{item}}" class="auth-social__link">
								<img src="./img/icons/{{item}}.svg" alt="Войти с помощью {{item}}" class="auth-social__icon">
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="auth-card__margin"></div>
	</div>
</div>
