<div class="auth-card">
	<div class="auth-card__inner custom-scroll">
		<div class="auth-card__margin"></div>
		<div class="auth-card__top">

			{% include "../ui/button.twig" with {
        props: {
          href: "#",
          class: "me-4",
          children: "Регистрация",
          type: "clear",
        }
        } %}
			{% include "../ui/button.twig" with {
        props: {
          href: "#",
          class: "",
          children: "Вход",
          type: "primary",
          state: "disabled",
        }
      } %}
		</div>
		<div class="auth-card__header text-center">
			<h1 class="auth-card__title mb-0">Восстановить пароль</h1>
			<p class="auth-card__description mb-0">Введите адрес почты</p>
		</div>

		<form data-form-id="password-recovery-form" class="auth-form js-form">
			{% include "../ui/text-field.twig" with {
        props: {
          class: "mb-3",
          name: "email",
          label: "E-mail",
          validate: "required, email",
          placeholder: "mail@mail.com",
          inputType: "email",
          type: "",
          error: "Неправильно введен адрес электронной почты",
          errorRequired: "Это обязательное поле",
        }
      } %}

			{% include "../ui/button.twig" with {
        props: {
          class: "auth-form__submit js-form-submit",
          children: "Получить ссылку для восстановления",
          type: "primary",
          attributes: 'type="submit"',
          disabled: true
        }
      } %}

		</form>

		<div class="auth-social auth-card__social d-flex flex-column justify-content-end">
			<div class="auth-social__inner">
				<p class="auth-social__title text-center">Или войдите с помощью</p>
				<ul class="auth-social__list d-flex gap-3">
					{% for item in ["yandex", "google", "vk", "mail", "sber"] %}
						<li class="auth-social__item">
							<a href="#{{item}}" class="auth-social__link">
								<img src="./img/icons/{{item}}.svg" alt="Войти с помощью {{item}}" class="auth-social__icon">
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="auth-card__margin"></div>
	</div>
</div>
